<div class="container">

  <div class="card-container">
    <%= link_to web3_path do %>
      <div class="card">What is "Web3"?</div>
    <% end %>

    <%= link_to tokens_path do %>
      <div class="card">What are tokens?</div>
    <% end %>

    <%= link_to nft_path do %>
      <div class="card">What are NFTs?</div>
    <% end %>

    <%= link_to wallets_path do %>
      <div class="card">What is a Wallet?</div>
    <% end %>

    <%= link_to address_path do %>
      <div class="card">What is an address?</div>
    <% end %>

    <%= link_to gas_path do %>
      <div class="card">What is gas?</div>
    <% end %>

    <%= link_to l2_path do %>
      <div class="card">What is Layer 2?</div>
    <% end %>

    <%= link_to buy_path do %>
      <div class="card">How do I buy ETH?</div>
    <% end %>
  </div>

</div>
