<div class="container">
  <h3>What would you like to know about?</h3>

  <div class="card-container">
    <%= link_to web3_path do %>
      <div class="learn-card">What is "Web3"?</div>
    <% end %>

    <%= link_to blockchain_path do %>
      <div class="learn-card">What is a blockchain?</div>
    <% end %>

    <%= link_to tokens_path do %>
      <div class="learn-card">What are tokens?</div>
    <% end %>

    <%= link_to nft_path do %>
      <div class="learn-card">What are NFTs?</div>
    <% end %>

    <%= link_to wallets_path do %>
      <div class="learn-card">What is a Wallet?</div>
    <% end %>

    <%= link_to address_path do %>
      <div class="learn-card">What is an address?</div>
    <% end %>

    <%= link_to gas_path do %>
      <div class="learn-card">What is gas?</div>
    <% end %>

    <%= link_to l2_path do %>
      <div class="learn-card">What is Layer 2?</div>
    <% end %>

    <%= link_to poap_path do %>
      <div class="learn-card">What are POAPs?</div>
    <% end %>

    <%= link_to ens_path do %>
      <div class="learn-card">What are ENS domains?</div>
    <% end %>

    <%= link_to smart_contracts_path do %>
      <div class="learn-card">What are smart contracts?</div>
    <% end %>

    <%= link_to dapp_path do %>
      <div class="learn-card">What is a dApp?</div>
    <% end %>

    <%= link_to defi_path do %>
      <div class="learn-card">What is DeFi?</div>
    <% end %>

    <%= link_to dex_path do %>
      <div class="learn-card">What is a DEX?</div>
    <% end %>

    <%= link_to dao_path do %>
      <div class="learn-card">What is a DAO?</div>
    <% end %>

    <%= link_to multisig_path do %>
      <div class="learn-card">What is multisig?</div>
    <% end %>

    <%= link_to social_recovery_path do %>
      <div class="learn-card">What is Social Recovery?</div>
    <% end %>

    <%= link_to qf_path do %>
      <div class="learn-card">What is Quadratic Funding?</div>
    <% end %>

    <%= link_to zkproofs_path do %>
      <div class="learn-card">What are Zero Knowledge Proofs?</div>
    <% end %>

    <%= link_to buy_path do %>
      <div class="learn-card">How do I buy ETH?</div>
    <% end %>

  </div>

</div>
