<div class="container">

  <h3>What's happening on Ethereum??</h3>

    <%= link_to "https://ethereum.org" do %>
        <h6>Ethereum Foundation</h6>
    <% end %>
        <p>Learn about <strong>Ethereum</strong>, the home of Web3!</p>

    <%= link_to "https://ultrasound.money" do %>
        <h6>Ultrasound.Money</h6>
    <% end %>
        <p>Explore the tokenomics of <strong>Ether (ETH)</strong>, the token that powers the Ethereum blockchain!</p>

    <%= link_to "https://www.gitcoin.co/" do %>
        <h6>Gitcoin Grants</h6>
    <% end %>
        <p>Learn about <strong>quadratic funding</strong> and public goods on web3!</p>

    <%= link_to "https://poap.xyz/" do %>
        <h6>POAP</h6>
    <% end %>
        <p>Proof of Attendance Protocol, bookmarks for your life! 🔖</p>


    <%= link_to "https://ethstaker.cc" do %>
        <h6>EthStaker</h6>
    <% end %>
        <p>Learn the ins and outs of staking on the Ethereum blockchain!</p>

    <%= link_to "https://rocketpool.net" do %>
        <h6>RocketPool</h6>
    <% end %>
        <p>Earn rewards and support the Ethereum network by staking your ETH on with RocketPool!</p>

    <%= link_to "https://ethfinance.org" do %>
        <h6>EthFinance</h6>
    <% end %>
        <p>Join the Ethfinance community for quality tech and industry related discussion!</p>

    <%= link_to "https://dao.evmavericks.xyz/" do %>
        <h6>ManeNet DAO</h6>
    <% end %>
        <p>Join the ManeNet DAO, a community of devoted web3 citizens committed to advancing the Ethereum blockchain and promoting decentralization.</p>

</div>
