<div class="container">


    <%= link_to "https://www.coinbase.com/learning-rewards" do %>
        <h4>Coinbase Learn & Earn Program</h4>
    <% end %>
        <p>Earn <strong>free crypto</strong> by completing tutorials!</p>

    <%= link_to "https://ethereum.org" do %>
        <h4>Ethereum Foundation</h4>
    <% end %>
        <p>Learn about Ethereum, the home of Web3!</p>

    <%= link_to "https://ultrasound.money" do %>
        <h4>Ultrasound.Money</h4>
    <% end %>
        <p>Explore the tokenomics of <strong>Ether (ETH)</strong>, the token that powers the Ethereum blockchain!</p>

    <%= link_to "https://ethstaker.cc" do %>
        <h4>EthStaker</h4>
    <% end %>
        <p>Learn the ins and outs of staking on the Ethereum blockchain!</p>

    <%= link_to "https://rocketpool.net" do %>
        <h4>RocketPool</h4>
    <% end %>
        <p>Earn rewards and support the Ethereum network by staking your ETH on with RocketPool!</p>

    <%= link_to "https://ethfinance.org" do %>
        <h4>EthFinance</h4>
    <% end %>
        <p>Join the Ethfinance community for quality tech and industry related discussion!</p>

    <%= link_to "https://dao.evmavericks.xyz/" do %>
        <h4>ManeNet DAO</h4>
    <% end %>
        <p>Join the ManeNet DAO, a community of devoted web3 citizens committed to advancing the Ethereum blockchain and promoting decentralization.</p>


</div>
Learn about Ethereum
