    <nav>
      <ul>
        <li><%= link_to 'Learn', learn_path %></li>
        <li><%= link_to 'Guides', guides_path %></li>
        <li><%= link_to 'Best Practices', best_practices_path %></li>
        <li><%= link_to 'Red Flags 🚩', red_flag_checklist_path %></li>
        <li><%= link_to 'Fun Stuff To Do!', fun_stuff_path %></li>
        <li><%= link_to 'Opportunities', opportunities_path %></li>
        <li><%= link_to 'FAQ', faq_path %></li>
        <li><%= link_to 'Blog', blog_path %></li>
        <li><%= link_to 'ETHEREUM?', links_path %></li>
      </ul>
      <div class="navbar-dropdown">
        <button class="navbar-dropdown-toggle" aria-expanded="false">
          <span class="navbar-dropdown-toggle-text">Ξ</span>
        </button>
        <ul class="navbar-dropdown-menu">
          <li><%= link_to 'Learn', learn_path %></li>
          <li><%= link_to 'Guides', guides_path %></li>
          <li><%= link_to 'Best Practices', best_practices_path %></li>
          <li><%= link_to 'Red Flags 🚩', red_flag_checklist_path %></li>
          <li><%= link_to 'Fun Stuff To Do!', fun_stuff_path %></li>
          <li><%= link_to 'Opportunities', opportunities_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
          <li><%= link_to 'Blog', blog_path %></li>
          <li><%= link_to 'ETHEREUM?', links_path %></li>
        </ul>
      </div>
    </nav>
