<!DOCTYPE html>
<html>
  <head>
    <title>ByteGuide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to 'Learn', learn_path %></li>
      <li><%= link_to 'Guides', guides_path %></li>
      <li><%= link_to 'Best Practices', best_practices_path %></li>
      <li><%= link_to 'Red Flag Checklist', red_flag_checklist_path %></li>
      <li><%= link_to 'Fun Stuff To Do!', fun_stuff_path %></li>
      <li><%= link_to 'Opportunities', opportunities_path %></li>
      <li><%= link_to 'FAQ', faq_path %></li>
      <li><%= link_to 'Blog', blog_path %></li>
      <li><%= link_to 'Links', links_path %></li>
    </ul>
  </nav>

    <%= yield %>
  </body>
</html>
